extends layout

block append body
       main(
            role='main'
            class='flex-shrink-0'
        )   
            .container
                h1.mt-5 Geolocation
                    p.lead Welcome to #{title}
 
