extends layout

block content
  |
  nav.navbar.navbar-expand-lg-navbar-light.bg-light 
   a.navbar-brand(href='#') Geolocation
   button.navbar-toggler(type='button',data-toggle='collapse', data-target='navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon 
    |
    .collapse.navbar-collapse(id='navBarSupportedContent')
    ul.navbar-nav.mr-auto 
    li.nav-item.active 
    a.nav-link(href='#') Home

  h1= title
  p Welcome to #{title}

