extends layout 

block page 

  form.form-signin(method='post' action='/users/register')
    h1.h3.mb-3.font-weight-normal Fill in this form
    label.sr-only(for='firstName') Your first name
    input#inputFirstName.form-control(type='text' name='firstName' placeholder='Your first name' required='' autofocus='')
    label.sr-only(for='lastName') Your last name
    input#inputLastName.form-control(type='text' name='lastName' placeholder='Your last name' required='' autofocus='')
    label.sr-only(for='email') Your e-mail address 
    input#inputEmail.form-control(type='email' name='email' placeholder='Your e-mail address' required='' autofocus='')
    label.sr-only(for='password') Your Password
    input#inputPassword.form-control(type='password' name='password' placeholder='Password' required='')
    button.btn.btn-lg.btn-primary.btn-block(type='submit' value='register') Register
